<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="PayrollSystem_DBConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Brian\Desktop\DeVry Classes\2016\Mar-Apr\CIS_407A_Jon Jensen\CIS_407A_CourseProject_Whitelaw\PayrollSystem\PayrollSystem_DB.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="PayrollSystem_DBConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Brian\Desktop\DeVry Classes\2016\Mar-Apr\CIS_407A_Jon Jensen\CIS_407A_CourseProject_Whitelaw\PayrollSystem\PayrollSystem_DB.accdb"
            providerName="System.Data.OleDb" />
        <add name="ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Brian\Desktop\DeVry Classes\2016\Mar-Apr\CIS_407A_Jon Jensen\CIS_407A_CourseProject_Whitelaw\PayrollSystem\PayrollSystem_DB.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>
